презентація одногрупника за грудень-2014:

титульний слайд
дуже загальний огляд проблеми - слайд 1
дуже загальний огляд проблеми - слайд 2
дуже загальний огляд проблеми - слайд 3

мета дослідження
об’єкт дослідження
предмет дослідження
наукова новизна
висновки

дякую за увагу